* {
  max-height: 1000000px;
  margin: 0;
  scroll-behavior: smooth;
}

nav {
  background-color: #fff;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-button1 {
  align-items: center;
  padding: 10px 12px;
  border: none;
  width: 30%;
  height: auto;
  background-color: transparent;
}

.logo {
  width: 40%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  text-align: left;
  color: #6171ff;
  text-decoration: none;
  padding: 10px 22px;
  border: none;
  background-color: transparent;
}

#navigationList {
  flex-direction: column;
  position: absolute;
  gap: 6%;
  transform: translateY(-100%);
  transition: transform 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  list-style: none;
  padding-top: 4rem;
  mix-blend-mode: multiply;
  backdrop-filter: blur(12px);
}

.navigationItem {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.navigationItem:visited {
  color: white;
  text-decoration: none;
}

#navigationList.active {
  display: flex;
  position: fixed;
  transform: translateY(0);
  background-size: cover;
  background-color: #6060ff;
  margin-top: 0;
  height: 150vh;
  width: 200vh;
}

#nav-button2 {
  display: block;
  width: 18px;
  height: 18px;
  background: #fff;
  top: 10px;
  right: 10%;
  z-index: 3;
  position: absolute;
  cursor: pointer;
}

#nav-button2 .bar {
  display: block;
  width: 100%;
  background: #6070ff;
  height: 2px;
  margin: 3px 0;
}

#nav-button2.active {
  display: none;
}

#closeButton {
  transform: translateY(0);
  margin-top: 0;
  margin-right: 7%;
  padding: 5%;
  display: block;
  width: 12px;
  height: 12px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 34px;
  color: #fff;
  z-index: 10;
}

#closeButton.active {
  transform: translateY(0);
  cursor: pointer;

}

.mobilemain {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 375px;
  height: 810px;
  background-color: #ebebff;
  right: 0;
  overflow-x: hidden;
  top: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  width: 375px;
  height: 604px;
  background-image:

    url("./sources/header-shapes\ mobile.png"),
    url("./sources/header-background-mobile\ \(1\).png");
  background-repeat: no-repeat;
}

h1 {
  animation-duration: 2s;
  animation-name: ease;
}

@keyframes ease {
  from {
    margin-left: 280%;
  }

  to {
    margin-right: 20%;
  }
}

#heading {
  width: 327px;
  height: 150px;
  top: 206px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: hsl(218, 54%, 20%);
}

#paragraph1 {
  color: #344563;
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  top: 368px;
}

.smedia {
  margin-left: 1%;
}

.LetsConnect {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px 0;
  left: 24px;
  top: 526px;
  width: 120px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: hsl(234, 100%, 75%);
  text-decoration: none;
}

.topicons {
  list-style: none;
  width: 170.17px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
  padding: 17.99px 4px;
}

li {
  list-style: none;
}

/* Page2 */
button:hover,
button:focus {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

button:visited {
  background: #d7d7d7;
  border-radius: 8px;
  color: #396df2;
}

button:disabled {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

button:active {
  background: #2230d2;
  border-radius: 8px;
  color: rgb(237, 235, 235);
}

a:visited {
  background-color: #ebebff;
  border: none;
  color: #6070ff;
}

a:disabled {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

a:active {
  background-color: #ebebff;
  border: none;
  color: #6070ff;
}

a:focus,
a:hover {
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

.works {
  display: grid;
  grid-column: 1/ span 3;
  align-items: center;
  gap: 142px;
  padding: 114px 24px;
  width: 375px;
  height: 2788px;
  right: 30%;
  /* margin-top: 718px; */
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 18px;
  width: 327px;
  height: 575px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

#avator {
  width: 100%;
}

.container,
.container2,
.container3,
.container4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  height: 288px;
  width: 295px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.tonic {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 0%;
  align-items: center;
  text-decoration: none;
}

.tonic .canopy {
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tonic .back {
  width: 89px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.dot {
  margin-top: 0;
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

.tonic .year {
  width: 29px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.paragraph2 {
  width: 295px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.resources1,
.resources2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  margin-left: 1.7%;
  margin-top: 7%;
  top: 1075px;
}

.button {
  height: 24px;
  background-color: #ebebff;
  border: none;
  color: #6070ff;
  text-align: center;
  text-decoration: none;
  padding: 4px 12px;
  align-items: center;
  margin: 4px 0;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.button .htmlbutton {
  width: 53px;
}

.button .cssbutton {
  width: 45px;
}

.button .jsbutton {
  width: 89px;
}

.action {
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
  top: 215px;
}

.normalbutton {
  width: 124px;
  height: 48px;
  color: #2e5dd3;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  border: 1px solid #5361dc;
  border-radius: 8px;
  margin-top: 64%;
  cursor: pointer;
  background: white;
}

.seeLiveButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
  width: 110px;
  height: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: transparent;
}

.seeSourceButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  width: 120px;
  height: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: transparent;
}

.seeproject {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #396df2;
}

/* Page3 */
.card2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 600px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background: #fff;
}

.container2 {
  height: 332px;
}

.normalbutton2 {
  width: 124px;
  height: 48px;
  color: #325fd2;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  border: 1px solid #6a78fb;
  border-radius: 8px;
  margin-top: 73%;
  cursor: pointer;
  background: white;
}

/* Page6 */
.aboutme {
  display: grid;
  grid-column: 1/ span 1;
  align-items: center;
  margin-left: 0;
  padding: 114px 24px;
  gap: 24px;
  width: 375px;
  left: 0;
  height: 1126.15px;
  background-image: url("./sources/Base\ about\ my\ self.png");
  background-repeat: no-repeat;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  padding: 0;
  width: 327px;
  height: 409px;
  top: 94px;
  left: 24px;
}

.top #heading {
  display: flex;
  align-items: center;
  width: 327px;
  height: 101px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.top #paragraph {
  width: 327px;
  height: 144px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 200px;
  height: 80px;
}

.socialmedia #secondheading5 {
  padding: 0;
  width: 120px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: hsl(234, 100%, 75%);
}

.frameicons {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  margin-left: 5%;
  margin-top: 10%;
}

.action-last {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 168px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 120%;
  position: absolute;
  cursor: pointer;
  background: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.skillslist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 464.15px;
  margin-top: 20%;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 320.15px;
}

.frame7 {
  display: flex;
  width: 327px;
  height: 72px;
}

#languages {
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  position: absolute;
  color: #000;
}

#languages-dropdown {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  transform: rotate(90deg) !important;
  left: 75%;
}

.languagelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
}

.jsbox {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  left: 12px;
  top: 12px;
  display: grid;
  grid-row: 1/ span 1;
  justify-content: space-between;
}

.jsimage {
  position: absolute;
  order: 1;
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  left: 12%;
}

.jstext {
  position: absolute;
  order: 2;
  height: 24px;
  align-items: center;
  left: 29%;
  margin-top: 8%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.htmlbox {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  display: grid;
  grid-row: 1/ span 1;
}

.htmlimage {
  position: absolute;
  width: 48px;
  height: 48px;
  background: url(html5-512.png);
  border: 1px solid #fff;
  order: 1;
  left: 12%;
}

.htmltext {
  position: absolute;
  order: 2;
  height: 24px;
  align-items: center;
  left: 29%;
  margin-top: 54%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.cssbox {
  width: 303px;
  height: 66.72px;
  display: grid;
  grid-row: 1/ span 1;
  background: #f7f7f9;
  border-radius: 8px;
}

.cssimage {
  position: absolute;
  width: 48px;
  height: 48px;
  background: url(images.jpg);
  border: 1px solid #fff;
  order: 1;
  left: 12%;
}

.csstext {
  position: absolute;
  order: 2;
  height: 24px;
  align-items: center;
  left: 29%;
  margin-top: 31%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.frame8 {
  width: 327px;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
}

.frameworks {
  position: absolute;
  height: 24px;
  left: 24px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #000;
}

.chevron1 {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px;
  position: absolute;
  left: 75%;
  border-radius: 8px;
  margin-top: -4%;
}

.frame9 {
  width: 327px;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chevron2 {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px;
  position: absolute;
  left: 75%;
  border-radius: 8px;
  margin-top: -4%;
}

.skills {
  position: absolute;
  height: 24px;
  left: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.seperator1 {
  position: absolute;
  height: 1px;
  width: 327px;
  background: #dfe1e6;
  margin-top: 12%;
  left: 6%;
}

.seperator2 {
  position: absolute;
  height: 1px;
  width: 327px;
  background: #dfe1e6;
  margin-top: 12%;
  left: 6%;
}

/* Page 7 */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #6070ff;
  border-top-left-radius: 5rem;
  background-image: url("./sources/contact\ form\ shapes-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: right;

  /* margin-top: -10%; */
}

.contact-me {
  height: 56px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin: 103px auto 0 70px;
  align-content: center;
}

.info {
  width: 327px;
  height: 102px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: hsl(240, 100%, 96%);
  margin: 12px 36px 12px 24px;
}

.fieldset {
  margin-top: 75px;
  border: none;
}

/* .form {
  height: ;
} */

.input-group {
  width: 88%;
  height: 48px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 16px 30px 16px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-left: 16px;
}

#Feed_back {
  font-size: 16px;
  background-color: red;
}

.text-area {
  height: 170px;
  padding-top: 16px;
}

.form-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  left: 24px;
  background: hsl(0, 0%, 100%);
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #6070ff;
  order: 0;
  border: 1px solid hsl(198, 16%, 84%);
  margin-bottom: 10%;
}

.form-button:hover {
  color: #fff;
  background: #6070ff;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    padding-top: 5%;
  }

  .logo {
    margin-left: 10%;
  }

  nav {
    display: flex;
    margin-right: 10%;
    color: #344563;
  }

  #navigationList .navigationItem {
    display: block;
    text-decoration: none;
    color: #344563;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    align-items: center;
    text-align: center;
  }

  nav ul li a:active,
  nav ul li a:hover {
    color: #000;
  }

  nav ul li {
    margin-left: 15%;
    color: #344563;
  }

  #navigationList {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transition: none;
    margin-right: 10%;
    width: 30%;
    color: #344563;
    margin-top: 2.5%;
    position: unset;
  }

  #nav-button2 {
    display: none;
  }

  /* Page1 */
  .mobilemain {
    width: 100%;
    height: 4610px;
    background: #e5e5e5;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .headline {
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 566px;
    background-color: #fff;
    border-bottom-left-radius: 5rem;
    background-image: url("./sources/Header\ bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 0;
  }

  .headline #heading {
    width: 600px;
    height: 124px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
    margin-top: -3%;
  }

  #paragraph1 {
    width: 600px;
    height: 98px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  .smedia {
    flex: none;
    margin-right: 59%;
    margin-top: 3%;
  }

  .LetsConnect {
    width: 120px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15%;
  }

  .topicons {
    width: 170.17px;
    height: 20px;
    left: 260px;
    top: 642px;
  }

  .works {
    width: 100%;
    height: 2600px;
    padding-top: 0;
    margin-top: 0;
  }

  .card1 {
    width: 94%;
    height: 66%;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }

  #avator {
    width: 50%;
    height: 90%;
    margin-top: -2%;
  }

  .container {
    width: 50%;
    height: 70%;
    padding-bottom: 10%;
    gap: 6px;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .tonic {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 297px;
    height: 40px;
  }

  .tonic .canopy {
    width: 75px;
    height: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .tonic .dot {
    width: 8px;
    height: 8px;
  }

  .tonic .back {
    width: 120px;
    height: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .tonic .year {
    width: 38px;
    height: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .paragraph2 {
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .resources1 {
    gap: 8px;
    width: 203px;
    height: 24px;
    margin-top: 10%;
  }

  .normalbutton {
    width: 124px;
    height: 48px;
    color: #325fd2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 1px solid #6a78fb;
    border-radius: 8px;
    position: unset;
    margin-top: 4%;
    margin-left: -1%;
    cursor: pointer;
  }

  .seeproject {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .card2 {
    width: 94%;
    height: 66%;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }

  .avator4 {
    padding: 2%;
    margin-right: -2%;
    order: 2;
  }

  .container2 {
    order: 1;
    width: 50%;
    gap: 2px;
    height: 70%;
    padding-bottom: 10%;
  }

  .resources2 {
    margin-top: 12%;
  }

  .normalbutton2 {
    width: 124px;
    height: 48px;
    color: #325fd2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    border: 1px solid #6a78fb;
    border-radius: 8px;
    margin-top: 7%;
    cursor: pointer;
    position: unset;
  }

  /* Page6 */
  .aboutme {
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #fff;
    border-top-right-radius: 5rem;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6%;
    width: 40%;
    height: 392px;
    margin-top: 1%;
    gap: 12px;
  }

  .top #heading {
    margin: 0;
    padding: 0;
  }

  .top #paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 90%;
    height: 102px;
    padding: 0;
    margin: 0;
  }

  .secondheading5 {
    margin: 0;
  }

  .socialmedia {
    margin-top: 20%;
  }

  .frameicons {
    margin-top: 8%;
    padding: 0;
  }

  .action-last {
    margin-top: 58%;
  }

  .action-last:hover,
  .action-last:active {
    animation: color-me-in 1.5s;
  }

  @keyframes color-me-in {
    0% {
      color: #396df2;
      background-color: #fff;
    }

    100% {
      color: #fff;
      background-color: #396df2;
    }
  }

  .skillslist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: absolute;
    width: 40%;
    height: 360px;
    margin-left: 49%;
    margin-top: 3%;
  }

  .frame12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    height: 216px;
  }

  .frame7 {
    width: 100%;
    height: 72px;
    gap: 0;
  }

  #languages {
    position: absolute;
    height: 24px;
    left: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .languagelist {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;
    width: 328px;
    height: 144px;
  }

  .languagelist .jsbox {
    width: 102px;
    height: 120px;
    padding: 0;
  }

  .jsimage {
    width: 48px;
    height: 48px;
    top: 25%;
    border: 1px solid #fff;
    left: 7%;
  }

  .jstext {
    width: 98px;
    height: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: -23%;
    margin-top: 18%;
  }

  .languagelist .htmlbox {
    width: 102px;
    height: 120px;
    padding: 0;
  }

  .htmlimage {
    width: 48px;
    height: 48px;
    top: 25%;
    border: 1px solid #fff;
    left: 43%;
  }

  .htmltext {
    width: 98px;
    height: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-top: 18%;
  }

  .languagelist .cssbox {
    width: 102px;
    height: 120px;
    padding: 0;
  }

  .cssimage {
    width: 48px;
    height: 48px;
    top: 25%;
    border: 1px solid #fff;
    left: 80%;
  }

  .csstext {
    width: 98px;
    height: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 52%;
    margin-top: 18%;
  }

  .frameworks-skills {
    margin: 0;
    padding: 0;
  }

  .frame8 {
    width: 684px;
    height: 72px;
  }

  .frameworks {
    height: 24px;
    left: 24px;
    font-size: 20px;
    line-height: 24px;
    top: 70%;
  }

  .chevron1 {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px;
    left: 75%;
    top: 70%;
  }

  .frame9 {
    width: 684px;
    height: 72px;
  }

  .skills {
    height: 24px;
    left: 24px;
    font-size: 20px;
    line-height: 24px;
    top: 89%;
  }

  .chevron2 {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px;
    position: absolute;
    left: 75%;
    top: 90%;
  }

  .seperator1 {
    width: 100%;
    box-sizing: border-box;
    left: 0;
    top: 71%;
  }

  .seperator2 {
    width: 100%;
    box-sizing: border-box;
    left: 0;
    top: 90%;
  }

  /* Last Page  */
  .contact-form {
    background-color: #6070ff;
    border-top-left-radius: 5rem;
    background-image: url("./sources/contact\ form\ background\ shapes.png");
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contactbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 801px;
    height: auto;
  }

  .contact-me {
    width: 801px;
    height: auto;
    line-height: 52px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
  }

  .info {
    width: 569px;
    height: auto;
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }

  .fieldset {
    width: 447px;
    height: auto;
    margin-top: 0;
    border: none;
  }

  .form {
    height: auto;
  }

  .input-group {
    width: 447px;
    height: 48px;
    border-radius: 0;
  }

  .text-area {
    width: 447px;
    height: 170px;
  }

  .form-button {
    width: 142px;
    height: 48px;
    position: absolute;
    left: 40%;
  }
}

@media screen and (min-width: 1024px) {
  * {
    max-width: 100%;
  }

  .header {
    width: 100%;
  }

  .logo {
    padding-left: 55px;
  }

  nav {
    display: flex;
    flex-direction: row;
  }

  nav ul li a {
    display: block;
    padding: 5%;
  }

  nav ul li a:active,
  nav ul li a:hover {
    color: #000;
  }

  #navigationList {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transition: none;
    margin-left: 32%;
    padding: 0 10% 0 0;
    width: 30%;
    color: #000;
    position: unset;
  }

  #navigationList .navigationItem {
    color: #344563;
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    align-items: center;
    text-align: center;
  }

  .mobilemain {
    width: 100%;
    background: #f4f5f7;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 5220px;
  }

  .headline {
    gap: 12px;
    width: 100%;
    height: 14%;
    background-size: cover;
    margin: 0;
  }

  .headline #heading {
    width: 70%;
    height: 122px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  #paragraph1 {
    width: 70%;
    height: 98px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
  }

  .smedia {
    flex: none;
    float: left;
    padding-left: 1%;
  }

  #heading5 {
    width: 120px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
  }

  .topicons {
    width: 170.17px;
    height: 20px;
    left: 260px;
    top: 42px;
  }

  .works {
    width: 100%;
    height: 2800px;
    margin-left: 2.8%;
    gap: 24px;
  }

  .card1 {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 42px;
  }

  #avator {
    width: 45%;
    height: 95%;
  }

  .avator1 {
    left: 24px;
    top: 24px;
  }

  .container {
    width: 45%;
    height: 75%;
    gap: 24px;
    margin-top: 4%;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .tonic {
    gap: 12px;
    width: 297px;
    height: 40px;
  }

  .tonic .canopy {
    width: 75px;
    height: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .tonic .dot {
    width: 8px;
    height: 8px;
  }

  .tonic .back {
    width: 120px;
    height: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .tonic .year {
    width: 38px;
    height: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .paragraph2 {
    width: 384px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }

  .resources1 {
    gap: 8px;
    width: 203px;
    height: 24px;
    margin-top: 0;
  }

  .resources2 {
    gap: 8px;
    width: 203px;
    height: 24px;
    margin-top: 1%;
    margin-left: 0;
  }

  .normalbutton {
    width: 124px;
    height: 48px;
    color: #325fd2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    border: 1px solid #6a78fb;
    border-radius: 8px;
    margin-top: 2%;
    margin-left: 0.5%;
    cursor: pointer;
  }

  .seeproject {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .card2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
    gap: 42px;
  }

  .avator4 {
    order: 2;
    top: 24px;
    right: 24px;
    padding: 0;
    margin-right: 1%;
  }

  .container2 {
    width: 50%;
    height: 75%;
    gap: 12px;
    padding: 24px;
    margin-top: 4%;
    margin-bottom: 7%;
  }

  .normalbutton2 {
    width: 124px;
    height: 48px;
    color: #325fd2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    border: 1px solid #6a78fb;
    border-radius: 8px;
    margin-top: 3%;
    cursor: pointer;
  }

  .aboutme {
    grid-row: 1/ span 1;
    width: 100%;
    height: 924px;
    background-image: url("./sources/about\ myself\ -\ background-\ shape-\ desktop.png");
    background-repeat: no-repeat;
    gap: 10px;
  }

  .top {
    order: 1;
    padding: 10% 851px 390px 7%;
    width: 50%;
    height: 392px;
    gap: 24px;
  }

  .top #paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 70%;
    height: 102px;
  }

  .socialmedia {
    margin-top: 2%;
  }

  .action-last {
    margin-top: 38%;
  }

  .action-last:hover,
  .action-last:active {
    animation: color-me-in 1.5s;
  }

  @keyframes color-me-in {
    0% {
      color: #396df2;
      background-color: #fff;
    }

    100% {
      color: #fff;
      background-color: #396df2;
    }
  }

  .skillslist {
    margin-top: -14%;
  }

  #languages-dropdown {
    left: 92%;
  }

  .lang {
    width: 100%;
    gap: 48px;
    margin-left: 3%;
  }

  .languagelist .jsbox {
    width: 33%;
  }

  .jstext {
    margin-top: 12%;
    margin-left: -22%;
  }

  .languagelist .htmlbox {
    width: 33%;
  }

  .htmlimage {
    margin-left: -15%;
  }

  .htmltext {
    margin-left: 0;
    margin-top: 12%;
  }

  .languagelist .cssbox {
    width: 33%;
  }

  .cssimage {
    margin-left: -31%;
  }

  .csstext {
    margin-left: 21%;
    margin-top: 12%;
  }

  .frameworks-skills {
    margin-top: 0;
    padding: 0;
  }

  .frame8 {
    width: 684px;
    height: 72px;
  }

  .frameworks {
    top: 69%;
  }

  .chevron1 {
    left: 90%;
    top: 70%;
  }

  .skills {
    top: 89%;
  }

  .chevron2 {
    left: 90%;
    top: 90%;
  }

  .seperator1 {
    width: 100%;
    top: 64%;
  }

  .seperator2 {
    width: 100%;
    top: 84%;
  }

  .contact-form {
    background-image:

      url("./sources/contact\ form\ background\ shapes.png"),
      url("./sources/contactmedesktop.png");
    width: 100%;
    height: 750px;
    margin-top: -20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contactbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 801px;
    height: auto;
  }

  .contact-me {
    width: 801px;
    height: auto;
    line-height: 52px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
  }

  .info {
    width: 569px;
    height: auto;
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }

  .fieldset {
    width: 447px;
    height: auto;
    margin-top: 0;
    border: none;
  }

  .form {
    height: auto;
  }

  .input-group {
    width: 447px;
    height: 48px;
    border-radius: 0;
  }

  .text-area {
    width: 447px;
    height: 170px;
  }

  .form-button {
    width: 142px;
    height: 48px;
    left: 45%;
  }
}
